@import './base.css';

/* 
big screen > 990
medium screen 750-990
small screen < 750
*/

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 100rem;
}

@media screen and (min-width: 0px) and (max-width: 750px) {
  .container {
    padding: 0 1.5rem;
  }
}

@media screen and (min-width: 750px) {
  .container {
    padding: 0 5rem;
  }
}